wd-loading {
    position: relative;
}

.spinner {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;

    img {
        margin-bottom: 15px;
        animation: spin 1s linear 0s infinite;
    }

    span {
        text-align: center;
        
        &::after {
            animation: triple-dots 2s linear 0s infinite;
        }
    }
}

@keyframes spin {
    0% { transform: none }
    100% { transform: rotate(360deg) }
}

@keyframes triple-dots {
    0%  { content: '';    }
    25% { content: '.';   }
    50% { content: '..';  }
    75% { content: '...'; }
}
